h1 {
  background-color: burlywood;
  border: 1px solid black;
  width: 300px;
  padding: 50px;
  margin: 50px;
}

span {
  background-color: cornflowerblue;
  border: 1px solid black;
  width: 500px;
  padding: 100;
  margin: 50px;
}

div {
    height: 200px;
    width: 200px;
    background-color: olivedrab;
    border: 5px solid black;
    display: inline-block;
    margin: 50px;
}