H1 {
  color: crimson;
  text-align: center;
  font-weight: 400;
  text-decoration: green underline wavy;
  letter-spacing: 10px;
  font-size: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 200ms ease-in-out;

}

p {
  line-height: 2;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
h2 {
  color: rgb(68, 129, 119);
  text-align: center;
  letter-spacing: 10px;
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #c6cfdf;
}
li {
  text-align: center;
}

a:hover {
  background-color: rgb(183, 153, 212);
}

li:hover {
  transform: scale(1.2);
  padding: 5px;
}