H1 {
  color: crimson;
  text-align: center;
  font-weight: 400;
  letter-spacing: 10px;
  font-size: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 200ms ease-in-out;
  color: rgb(3, 64, 121);
  font-size: larger;
}

p {
  line-height: 2;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(210, 212, 214);
}
h2 {
  color: rgb(68, 129, 119);
  text-align: center;
  letter-spacing: 10px;
  font-size: 2.5em;
  margin-bottom: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
body {
  background-color: #c6cfdf;
  background-image: url(https://images.unsplash.com/photo-1619252584172-a83a949b6efd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
  height: 100vh;
 }
li {
  text-align: center;
}

a:hover {
  background-color: rgb(183, 153, 212);
}

li:hover {
  transform: scale(1.2);
  padding: 5px;
}

/* .bgg {
  background-image: url(https://images.unsplash.com/photo-1619252584172-a83a949b6efd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
} */