/* General setup */


@font-face {
  font-family: 'vag-handwrittenvaghandwritten';
  src: url('fonts/vag-handwritten-webfont.woff2') format('woff2'),
       url('fonts/vag-handwritten-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('fonts/caviardreams-webfont.woff2') format('woff2'),
       url('fonts/caviardreams-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
  margin: 0;
  font-family: 'caviar_dreamsregular', sans-serif;
}

body {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h1,h2 {
  font-family: 'vag-handwrittenvaghandwritten', serif;
}

p {
  font-size: 1.8rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  font-family: 'caviar_dreamsregular';
}